  @media screen and (max-width: 1024px) {
      html{
      font-size: 2vw;
      color: #333333;
    }
    body{
      margin: 0;
    }
    #主体{
      border: 2px solid #333333;
      margin: 6px;
      padding: 6px;
      background: #f8f8f8;
    }
    #标题{
      font-size: 3rem;
      line-height: 3rem;
      text-align: center;
    }
    #主题{
      text-align: center;
      margin-top: 6px;
      font-size: 0px;
    }
    #主题 span{
      font-size: 2rem;
      vertical-align: baseline;
      margin-left: 6px;
    }
    #主题 input{
      border: none;
      border-bottom: #666666 2px solid;
      padding: 1px 0 0 0;
      margin: 0px 6px 0 6px;
      vertical-align: baseline;
      font-size: 2rem;
      background: #f8f8f8;
      color: #333333;
      text-align: center;
      min-width: 20%;
    }
    #主题 button{
      border: 0;
      padding: 3px 7px 3px 7px;
      margin: 0;
      vertical-align: top;
      font-size: 1.4rem;
      background: #454545;
      color: #efefef;
    }
    #文章 div{
      margin-top: 6px;
      font-size: 2rem;
      text-align: justify;
    }
    #声明{
      float: left;
      margin: 0 0 0 6px;
    }
    #声明 p{
      margin: 0 0 3px 3px;
      font-size: 1.4rem;
    }
    #声明文字{
      display: none;
    }
    #页脚{
      margin: 6px;
    }
    #页脚 p{
      margin: 3px;
      font-size: 1.4rem;
      text-align: right;
    }
    .链接{
      color: #666666;
    }
    .图标{
      height: 1rem;
      width: 1rem;
      vertical-align: top;
      margin-top: 2px;
    }
  }